<div class="card--container">
    <h3 class="main--title">Teachers</h3>
    <div class="card--wrapper">
        <div class="payment--card light-red">
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    Data Comm 1</span>
                    <span class="amount--value">
                    1
                    </span>
                </div>
                <i class="fas fa-network-wired icon"></i>
            </div>
            <span class="card-detail">Mr.Mark Anthony David</span>
        </div>

        <div class="payment--card light-purple">
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    Research 1 </span>
                    <span class="amount--value">
                    2
                    </span>
                </div>
                <i class="fas fa-book-open icon"></i>
            </div>
            <span class="card-detail">Mrs.Dolores Balderama</span>
        </div>

        <div class="payment--card light-green">
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    Information Mngt. </span>
                    <span class="amount--value">
                    3
                    </span>
                </div>
                <i class="fas fa-database icon"></i>
            </div>
            <span class="card-detail">Mr.Randy Sansait</span>
        </div>

        <div class="payment--card light-blue">
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    Elective 1 </span>
                    <span class="amount--value">
                    4
                    </span>
                </div>
                <i class="fas fa-code icon"></i>
            </div>
            <span class="card-detail">Mr.Mark Joseph Erfe</span>
        </div>

        <div class="payment--card light-yellow">
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    Elective 2 </span>
                    <span class="amount--value">
                    5
                    </span>
                </div>
                <i class="fas fa-laptop-code icon"></i>
            </div>
            <span class="card-detail">Mr.Raniel Gabriel</span>
        </div>

        <div class="payment--card light-orange">
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    System Analysis </span>
                    <span class="amount--value">
                    6
                    </span>
                </div>
                <i class="fas fa-object-group icon"></i>
            </div>
            <span class="card-detail">Mr.Alison Ignacio</span>
        </div>

    </div>
</div>

