.card--container {
    background: blur;
    backdrop-filter: blur(4px);
    padding: 3rem;
    border-radius: 10px;
    width: 1548px;
    margin-top: -4px;
    box-shadow: 0 .25rem .5rem #242524;
}
.card-image {
    background-color: aqua;
    height: 400px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
}
.student {
    background-image: url('/assets/images/student.jpg');

}

.student1 {
    background-image: url('/assets/images/student1.jpg');
}

.student2 {
    background-image: url('/assets/images/student2.jpg');
}

.student3 {
    background-image: url('/assets/images/student3.png');
}


.card--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.main--title {
    color: #fff;
    padding-bottom: 30px;
    margin-top: -30px;
    margin-left: -30px;
    font-size: 35px;
}
.payment--card {
    background: rgb(299, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 350px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.payment--card:hover {
    transform: translateY(-5px);
}
.card--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.amount {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 25px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 200rem;
}
.amount--value {
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
}
.icon {
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: rgb(5, 96, 99);
}
.card-detail {
    font-size: 18px;
    color: #777777;
    letter-spacing: 1px;
    font-family: "Courier New", Courier, monospace;
}

.light-red {
    background-color: rgb(221, 195, 195);
}
.light-purple {
    background-color: rgb(221, 195, 195);
}
.light-green {
    background-color: rgb(221, 195, 195);
}
.light-blue {
    background-color: rgb(221, 195, 195);
}
.dark-red {
    background: red;
}
.dark-purple {
    background: rgb(131, 129, 12);
}
.dark-green {
    background: rgb(136, 23, 66);
}
.dark-blue {
    background: rgb(16, 16, 138);
}