<div class="card--container">
    <h3 class="main--title">Students</h3>
    <div class="card--wrapper">
        <div class="payment--card light-red">
            <div class="card-image student"></div>
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    Joey Nickelodeon</span>
                    <span class="amount--value">
                    Age: 18
                    </span>
                </div>
                
            </div>
            <span class="card-detail">WFH - All around</span>
        </div>

        <div class="payment--card light-purple">
            <div class="card-image student1"></div>
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    Bronny James </span>
                    <span class="amount--value">
                    Age: 21
                    </span>
                </div>
            </div>
            <span class="card-detail">Summer class</span>
        </div>

        <div class="payment--card light-green">
            <div class="card-image student2"></div>
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    Jimmy Tumbler </span>
                    <span class="amount--value">
                    Age: 23
                    </span>
                </div>
            </div>
            <span class="card-detail">Guard sa main gate</span>
        </div>

        <div class="payment--card light-blue">
            <div class="card-image student3"></div>
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    Tyler J</span>
                    <span class="amount--value">
                    Age: 20
                    </span>
                </div>
            </div>
            <span class="card-detail">Rapper</span>
        </div>

    </div>
</div>

