<div class="card--container">
    <h3 class="main--title">Dashboard</h3>
    <div class="card--wrapper">
        <div class="payment--card light-red">
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    Total Students</span>
                    <span class="amount--value">
                    31
                    </span>
                </div>
                <i class="fas fa-graduation-cap icon"></i>
            </div>
            <span class="card-detail">Block 1</span>
        </div>

        <div class="payment--card light-purple">
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    Total Teachers </span>
                    <span class="amount--value">
                    20
                    </span>
                </div>
                <i class="fas fa-users icon dark-purple"></i>
            </div>
            <span class="card-detail">CECT Department</span>
        </div>

        <div class="payment--card light-green">
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    Total Units </span>
                    <span class="amount--value">
                    28
                    </span>
                </div>
                <i class="fas fa-book icon dark-green"></i>
            </div>
            <span class="card-detail">BSIT 3-1, 1st semester</span>
        </div>

        <div class="payment--card light-blue">
            <div class="card--header">
                <div class="amount">
                    <span class="title">
                    Attendance </span>
                    <span class="amount--value">
                    96 absents
                    </span>
                </div>
                <i class="fas fa-clipboard icon dark-blue"></i>
            </div>
            <span class="card-detail">pagod na</span>
        </div>

    </div>
</div>

