.sidenav {
    background: #222121;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    margin-top: 47.7px;
    height: 100vh;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;

        .logo {
            background: #fff;
            text-align: center;
            width: 3%;
            min-width: 3.2rem;
            border-radius: 0.313rem;
            padding: 0.230rem;
            font-size: 30px;
            font-weight: 890;
            cursor: pointer;
            border: none;
        }

        .logo-text {
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
            color: #ffffff;
        }

        .btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-times {
                color: #00d7df;
                font-size: 32px;
                font-weight: 400;

            }
        }
    }
}

.sidenav-collapsed {
    width: 16.5625rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    #btnLogout {
        border-radius: 5px;
        color: #8b1212;
        background-color: #ffffff;
        margin-top: 800px;
        font-size: 25px;
        padding: 5px 15px 3px 14px;
        position: fixed;
        left: 11px;
        bottom: 10px;
    }

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidenav-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidenav-link-text {
                margin-left: 1.5rem;
            }
        }
    }

    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background-color: #fff;
            color: #000;
        }
    }
}

.active {
    background-color: #8d8585;

    .sidenav-link-icon, 
    .sidenav-link-text {
        color: #00fff2;
    }
}
