<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">R</button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">Macayan</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <button type="button" id="btnLogout" ><i class="fas fa-power-off icon"></i></button>
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]"
            
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                
            >
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    
                    {{data.label}}
                </span>
            </a>
        </li>
    </ul>
</div>