<div class="card">
    <div class="card-head">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id aliquid blanditiis dignissimos tempora deleniti doloremque maiores et, vitae quisquam, debitis eum pariatur animi? Omnis, eveniet! Sunt exercitationem ex itaque explicabo.</div>
    <div class="card-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo modi velit quibusdam eaque minima pariatur harum. Saepe, maxime fugiat recusandae nihil, beatae ratione commodi ad veniam, temporibus quibusdam dolores ducimus?
    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id aliquid blanditiis dignissimos tempora deleniti doloremque maiores et, vitae quisquam, debitis eum pariatur animi? Omnis, eveniet! Sunt exercitationem ex itaque explicabo.</div>
    <div class="card-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo modi velit quibusdam eaque minima pariatur harum. Saepe, maxime fugiat recusandae nihil, beatae ratione commodi ad veniam, temporibus quibusdam dolores ducimus?
    </div>
</div>


