.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;;
    background-color: blur;
    backdrop-filter: blur(6px);
    color: rgb(253, 253, 253);
    margin: 1.25rem 0 1.25rem 0;
    margin-top: 45px;
    box-shadow: 0 .25rem .5rem #3b4142;;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #ffffff;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem;
    }
}